.mybtn {
    background-color: yellow;
    -webkit-transition: background-color 2s linear 0s;
    -moz-transition: background-color 2s linear 0s;
    -o-transition: background-color 2s linear 0s;
    transition: background-color 2s linear 0s;
}

.mybtn:hover {
    background-color: green;
    -webkit-transition: background-color 2s linear 0s;
    -moz-transition: background-color 2s linear 0s;
    -o-transition: background-color 2s linear 0s;
    transition: background-color 2s linear 0s;
}

.mybtn:active {
    background-color: brown;
    -webkit-transition: background-color 2s linear 0s;
    -moz-transition: background-color 2s linear 0s;
    -o-transition: background-color 2s linear 0s;
    transition: background-color 2s linear 0s;
}

.mydiv {
    height: 200px;
    width: 1000px;
    background-color: skyblue;
    margin-left: -800px;
    -webkit-transition: margin-left 5s linear 0s;
    -moz-transition: margin-left 5s linear 0s;
    -o-transition: margin-left 5s linear 0s;
    transition: margin-left 5s linear 0s;
}

.mydiv:hover {
    margin-left: 0px;
    -webkit-transition: margin-left 5s linear 0s;
    -moz-transition: margin-left 5s linear 0s;
    -o-transition: margin-left 5s linear 0s;
    transition: margin-left 5s linear 0s;
}